* {font-family: 'CMS';font-size:18px;letter-spacing:-0.02rem;line-height:1.5}


body {background-color:rgb(255, 255, 255) ;
     color:rgb(63, 63, 63);
     margin: 0 auto; 
    width :  50%;
    font-size:115% ;
    text-align: justify}


header h1{ text-align: center;font-weight:normal; font-size:400% }

body p {margin: 0 auto;font-size:115% ;text-align: justify}

.floatrightimgcontainer{

    margin: 5px 0px 0px 30px;
    float: right;
}


